body {
  background-color: #FAF9F8;
}
h1 {
  color: #194083;
  text-align: center;
  font-family: "Georgia", serif;
  margin-bottom: 0;
}
h2 {
  color: #194083;
  text-align: left;
  font-family: "Georgia",serif;
}
h3 {
  color: #FFBAB0;
  text-align: center;
  font-family: "Arial",sans-serif;
  font-size: 17px;
  line-height: 1.0;
}
li {
  color: #FFBAB0;
  text-align: left;
  font-family: "Arial",sans-serif;
  font-size: 17px;
  line-height: 1.8;
}
p {
  text-align: center;
  margin-top: 0;
  font-size: 40px;
}
i {
  color:#194083
}
.upd {
  display: inline-block;
  margin: 1%;
  width: 40%;
  padding: 20px 10px;
  background: #194083;
  border-radius: 15px;
  vertical-align: top;
}
.assumptionantipolo {
  display: inline-block;
  margin: 1%;
  width: 40%;
  padding: 20px 10px;
  background: #194083;
  border-radius: 15px;
  vertical-align: top;

}
.accounting {
  display: inline-block;
  margin: 1%;
  width: 40%;
  padding: 20px 10px;
  background: #194083;
  border-radius: 15px;
  vertical-align: top;
}
.finmanagement {
  display: inline-block;
  margin: 1%;
  width: 40%;
  padding: 20px 10px;
  background: #194083;
  border-radius: 15px;
  vertical-align: top;
}
a:link {
  color: #FFBAB0;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #FFBAB0;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #FAE1E1;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: ##FAE1E1;
  background-color: transparent;
  text-decoration: underline;
